*{
  margin: 0%;
  padding: 0%;
  position: relative;
}
body{
  background:linear-gradient(140deg,#141313, #3b1c1c,#000000);
  color: white;
}

#first{
  text-align: center;
  margin-top: 20px;
}

.head{
display: flex;
justify-content: center;
justify-content:space-evenly;
margin-top: 50px;


}

select{
  font-size: 1.2rem;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}
input{
   font-size: 1.2rem;
  height: 40px;
  width: 150px;
  border-radius: 10px;
   cursor: pointer;
  
}
#btn{
  font-size: 1.2rem;
  height:40px ;
  width: 90px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color:green;
   position: relative;
    z-index: 0;
     cursor: pointer;
}





#btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
#btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
#btn:hover::before {
  opacity: 1;
}

#btn:active:after {
  background: transparent;
}

#btn:active {
  color: #000;
  font-weight: bold;
}




table{
  width: 100%;
  border-collapse: collapse;

}
th,td{
  border:1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th{
  background-color: #4caf50;
  color: white;
}

tfoot td{
  font-weight: bold;
}
#Delete{
   font-size: 1.2rem;
  height:40px ;
  width: 90px;
  border-radius: 8px;
  background-color: rgb(230, 63, 63);
  border: none;
  color: white;
   cursor: pointer;
  
  

}
tr{
  color: black;
}


.expenselist{
  margin-top: 50px;
}

#second{
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

table{
  font-size: 1.2rem;
  background-color:#e8e9eb;
}



@media only screen and (max-width: 600px) {
  .head {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  select,
  input,
  #btn {
    width: 90%;
    max-width: 300px;
  }

  #amountinput{
    margin-left: 18px;
  }

  table, th, td {
    font-size: 0.9rem;
  }

  #Delete {
    width: 100%;
    max-width: 150px;
  }

  #first, #second {
    font-size: 1.5rem;
  }
}

